{{ define "index"}}
<!DOCTYPE html>

<html>

<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/remove-me.js"></script>
</head>

<body>
    <div class="bg-black h-screen w-screen overflow-hidden">
        <button class="bg-white text-black text-3xl font-blod" hx-get="/click" hx-swap="afterend"
            hx-target="#stars-holder">
            Add star
        </button>

        <div class="rotation h-screen w-screen">
            <div hx-ext="remove-me">
                <div class="bg-white h-fit w-fit text-white" id="stars-holder"></div>
                <div class="h-fit w-fit" hx-get="/stars" hx-swap="innerHTML" hx-trigger="every 1s"></div>
                {{range $star := .Star}}
                {{ template "star" $star}}
                {{end}}
            </div>
        </div>
    </div>
</body>

</html>

<style>
.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}

    .rotation {
        animation-duration: 120s;
        animation-name: rotation-key;
        animation-iteration-count: infinite;
    }

    @keyframes rotation-key {
        from {
            transform: rotate({{.RotateStart}}deg);
        }

        to {
            transform: rotate({{.RotateEnd}}deg);
        }
    }
</style>

{{end}}
